@media (min-width: 450px) {
	#a {
		height: 93vh;
	}
}

#b {
	background-color: #fff;
	padding: 1.2rem 1.2rem 1.2rem 1.2rem;
	border-radius: 0.5rem;
	font-size: 0.9rem;
}
#c {
	height: 1.8rem;
}
#d {
	width: 100%;
	margin-top: 1rem;
}
#e {
	height: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}