@media (min-width: 450px) {
	#form12 {
		height: 93vh;
	}
}

@media (max-width: 100%) {
	#form {
		height: 92vh;
	}
}

#reman {
	font-size: 0.9rem;
	background-color: white;
	padding: 1.2rem 1.2rem 1.2rem 1.2rem;
	border-radius: 0.5rem;
}

#btn444 {
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#bb {
	background-color: #fff;
	padding: 1.2rem 1.2rem 1.2rem 1.2rem;
	border-radius: 0.5rem;
	font-size: 0.9rem;
}
#btn-re2 {
	border: none;
	border-radius: 0.2rem;
}
