@media (min-width: 450px) {
  #form {
    height: 93vh;
  }
}
#container1 {
  font-size: 0.9rem;
  background-color: white;
  padding: 1.2rem 1.2rem 1.2rem 1.2rem;
  border-radius: 0.5rem;
}
#container2 {
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#btngroup {
  text-align: center;
}
#d {
  width: 100%;
  margin-top: 1rem;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
#d {
  width: 100%;
  margin-top: 1rem;
}
