@media (min-width: 450px) {
	#formadmin {
		height: 100vh;
	}
}

@media (max-width: 450px) {
	#formadmin {
		height: 100vh;
	}
}

#admincontainer {
	font-size: 0.9rem;
	background-color: white;
	background-color: white;
	padding: 1.2rem 1.2rem 1.2rem 1.2rem;
	border-radius: 0.5rem;
}

#admincontainer2 {
	font-size: 0.9rem;
	background-color: white;
	background-color: white;

	border-radius: 0.5rem;
}
