@media (min-width:450px) {
    #addlocationform {
        height: 93vh;
    }
}

@media (min-width:450px) {
    #addlocationform {
        height: 93vh;
    }
}

#containerlocation {
    font-size: 0.9rem;
    background-color: white;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    border-radius: 0.5rem;
}

#locationSearch {
    width: 250px;
    float: right;
}

#text1 {
    font-size: 1.79rem;
    font-weight: 400;
}