@media (min-width: 450px) {
    #aaa {
        height: 93vh;
    }
}

#bbb {
    background-color: #fff;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

#ccc {
    height: 1.8rem;
}

#ddd {
    width: 100%;
    margin-top: 1rem;
}

#eee {
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}